html, body {
   height: 100%;
}


body {
  background-color: #757575;
  font-family: 'Hinds', sans-serif;
  color: #333;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: sticky;
  padding: 0 20px;
  height: 92vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.content-wrapper {
  float: right;
  width: 100%;
  height: inherit;
  padding: 0;
  margin 0;
}

.content {
  margin-left: 235px;
  padding: 10px;
  overflow: auto;
  clear: both;
  background: #ecf0f1;
  height: inherit;
  color: #222;
}

.sidebar {
  position: relative;
  width: 235px;
  margin-right: -235px;
  float: right;
  background: #1AA6B7;
  color: #eee;
  height: inherit;
}

a{
  display: block;
  text-align:center;
  margin: 10px auto;
  width: 100%;
  color: #2c3e50;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
}

.sidebar li {
   font-family: 'Hind', sans-serif;
   font-size: 1.5em;
   list-style: none;
   background-color: #5FCCC8;
   padding-top: 1vh;
   padding-bottom: 1vh;
   padding-left: 1vh;
   text-align: center;
}

.sidebar h1 {
   text-align: center;
}

.sidebar li:hover {
   background-color: #ecf0f1;
   color: #333;
}

.btn-container {
   text-align: center;
}

.custombtn {
   background-color: #FD5868;
   border: none;
   color: #fff;
}

.custombtn:hover {
   background-color: #FF414D;
   color: #fff;
}

.messages h2 {
   text-align: left;
   font-size: 2em;
   margin-top: 0px;
   text-align: center;
   color: #1AA6B7;
   font-weight: bold;
}
