html, body {
   height: 100%;
}


body {
  background-color: #757575;
  font-family: 'Hinds', sans-serif;
  color: #333;
}

.page {
  margin: 20px 0;
}

/*.page:after {
  content: "";
  display: table;
  clear: both;
}*/

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  /*position: relative;*/
  padding: 0 20px;
  min-height: 600px;
}

.content-wrapper {
  float: right;
  width: 100%;
}

.content {
  margin-left: 320px;
  padding: 20px;
  clear: both;
  overflow: auto;
  background: #ecf0f1;
  min-height: 600px;
  color: #222;
}

.sidebar {
  position: relative;
  width: 320px;
  margin-right: -320px;
  float: right;
  overflow: hidden;
  background: #1AA6B7;
  color: #eee;
  min-height: 600px;
}

a{
  display: block;
  text-align:center;
  margin: 10px auto;
  width: 100%;
  color: #2c3e50;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
}

.sidebar li {
   font-family: 'Hind', sans-serif;
   font-size: 1.5em;
   list-style: none;
   background-color: #5FCCC8;
   padding-top: 1vh;
   padding-bottom: 1vh;
   padding-left: 1vh;
   text-align: center;
}

.sidebar h1 {
   text-align: center;
}

.sidebar li:hover {
   background-color: #ecf0f1;
   color: #333;
}

.btn-container {
   text-align: center;
}

.custombtn {
   background-color: #FF414D;
   border: none;
   color: #fff;
   margin-top: 10px;
}

.messages h2 {
   text-align: left;
   font-size: 2em;
   margin-top: 0px;
   text-align: center;
   color: #1AA6B7;
   font-weight: bold;
}

.messages h3 {
   font-size: 1em;
   color: #1AA6B7;
}

.messages ul {
   list-style: none;
   text-align: left;
   position: absolute;
   padding: 0px;
   margin-left: -20px;
   margin-right: 20px;
}

.messages li {
   padding: 10px;
}

.messages li:nth-child(2) {
   background-color: #E2EBED;
   text-align: right;
}
