<div class="page">
  <div class="wrapper">


     <div class="content-wrapper">
      <main class="content" ui-view>


      </main>
    </div>


    <section class="sidebar">
      <h1>Bloc Chat</h1>


      <ul ng-repeat="room in home.Rooms">
          <li ui-sref="home.chat">
             {{ room.name }}
          </li>
      </ul>

      <div class="btn-container" ng-controller="ModalCtrl as modal">
         <button type="custombtn"
             class="custombtn btn btn-default"
             ng-click="modal.open('sm', '.page', '/templates/modals/createroom.html')">
                 Create a Room
         </button>
      </div>
   </section>



  </div>
</div>
