<div class="page modal-container">
  <div class="wrapper">


     <div class="content-wrapper">
      <main class="content modal-container">



      </main>
    </div>


    <section class="sidebar">
      <h1>Bloc Chat</h1>


      <ul ng-repeat="room in home.Rooms">
          <li>
             {{ room.name }}
          </li>
      </ul>

      <div ng-controller="ModalCtrl as modal">

         <button type="button"
             class="btn btn-default"
             ng-click="modal.open('sm', '.modal-container', '/templates/modals/createroom.html')">
                 Create a Room
         </button>
      </div>
   </section>



  </div>
</div>
