<div class="messages">
   <div class="roomtitle">
      <h2>{{ homechat.Room.activeRoom.name }}</h2>
   </div>

   <div class="indvmessages">
      <ul>
         <li>
            <h3>User Name</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
         </li>
         <li>
            <h3>User Name</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
         </li>
      </ul>
   </div>
</div>
