<div class="messages">
   <div class="roomtitle">
      <h2>{{ home.Room.activeRoom.name }}</h2>
   </div>

   <div class="indvmessages">
      <ul ng-repeat="message in home.Message.activeMessages" ng-class-even="'msgrow'">
         <li>
            <h3>{{ message.username}}</h3>
            <p>
               {{ message.content }}
            </p>
         </li>
      </ul>
   </div>

   <div class="container">
      <div class="sendmsg col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
   </div>





</div>
