<div ng-controller="AuthCtrl as auth" ui-view>
  <div ng-hide="firebaseUser">
     <h3>Log In</h3>

     <p>
        {{ auth.Users.authMessage }}
        {{ auth.Users.authError }}
     </p>

     <p>
       <a ui-sref="login.create">Create a free account.</a>
     </p>

     <p>
      <label>Email</label>
      <input ng-model="email" />
     </p>
     <P>
      <label>Password</label>
      <input ng-model="password"  />
     </P>

     <button ng-click="auth.Users.signIn(email, password)">Sign In</button>

     <div class="providers"><br />
        <button ng-click="auth.Users.signInGoogle()">Sign in with Google <i class="fa fa-google" aria-hidden="true"></i></button>
     </div>

   </div>
 </div>
